@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-.5px);
  }
}
@keyframes floatDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(.5px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes pushDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes rotate {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-up {
  animation: floatUp 1s ease-in-out infinite alternate;
  display: inline-block;
}

.float-down {
  animation: floatDown 1s ease-in-out infinite alternate;
  display: inline-block;
}

.scale {
  animation: scale 1s ease forwards;
}

.page {
  flex: 15;
  overflow-x: hidden;
  scrollbar-width: none;
  animation: moveIn .3s ease;
  position: relative;
  
}

.project-page {
  overflow-y: scroll;
  border-top: 1px solid black;
}

.project-bar.desktop {
 display: none;
}

.project-bar.mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 72px;
  gap: 32px;
}

.project-thumbnail {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.project-thumbnail.active{
  animation: scale .3s ease forwards;
}

.project-thumbnail:hover {
  animation: pushDown .3s ease forwards;
}

.project-thumbnail:active {
  animation: rotate .1s ease forwards;
}

.big-thumbnail {
  border-radius: 8px;
  width: 100%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  z-index: 10;
  right: 16px;
}

.sidebar {
  position: fixed;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: white;
}

.sidebar > :nth-child(1) {
  flex-grow: 1; 
}

 .nav-links {
  display: flex;
  width: 60%;
  flex-shrink: 0;
  flex-grow: 0; 
  height: auto;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.icon {
  flex: 1 1 0;
  max-width: 100%;
  max-height: 24px;
  height: auto;
  object-fit: contain;
}

 .section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
}

.section > :nth-child(1) {
  flex: 12;
  
 }

 .section > :nth-child(2) {
  flex: 3;
 }


.section .text {
  transition: opacity 0.5s ease;
  padding-top: 16px;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
}

.hidden {
  opacity: 0;
}

.collapsed {
 display: none;
}

.centered-element {
  position: relative;
  width: 100%;
  height: 100%; 
}

.bg-image {
  width: 100%;
  height: 100%;
  z-index: -1;  
}

.top-element {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  z-index: 1;
}

.half-phone {
  padding: 32px 32px 0 32px;
}

.top-element > img,
.top-element > video {
  height: 100%;
  object-fit: contain;

}

.phone-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 100%;
  padding: 32px;
  position: absolute;
}

.frame > img  {
  height: 100%;
  object-fit: contain;
}

.screen {
  height: 100%;
  width: max-content;
  padding: 4px;
  border-radius: 20px;
  overflow: hidden;
}

.screen > * {
  height: 100%;
  object-fit: contain;
}

.half-phone {
  border-radius: 100px 100px 0 0;
  overflow: hidden;
}

.brand-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.brand-grid img {
  width: 100%;
  height: 100%;
}

.home {
  border: none;
}

.home-project {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}

.home-project > :nth-child(1) {
 flex: 2;
}
.home-project > :nth-child(2) {
  flex: 1;
 }

.role-overlay {
  position: relative;
  top: 0px;
  margin-bottom: 32px;
  z-index: 9;
  flex-direction: column;
  gap: 4px;
  font-weight: 500;
}

.video {
  width: 100%;
  display: block;
}


@media (min-width: 481px) {
  /*
  body {
    background: yellow;
  }
    */

  .screen {
    padding: 6px;
    border-radius: 36px;
  }
  
}

@media (min-width: 769px) {
/*
  body {
    background: pink;
  }
  */

  .page {
    scrollbar-width: none;
  }
  
  .role-overlay {
    position: sticky;
  }

  .sidebar {
    padding: 16px;
    width: 90%;
  }

  .mobile-menu {
    display: none;
  }

  .project-bar.desktop {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0 32px 0px 8px;
  }
  
  .project-thumbnail {
    margin-bottom: 16px;
    max-width: 150px;
  }

  .screen {
    padding: 8px;
    border-radius: 54px;
  }

}

@media (min-width: 1025px) {
  /*
  body {
    background: lightblue;
  }
    */

  .section {
    flex-direction: row;
    margin-bottom: 0;
  }
  
  .section > :nth-child(2) {
    padding: 0px 16px 0px 32px;
   }

  .section .text {
    transition: opacity 0.5s ease;
    padding-top: 32px;
  }

  .sidebar {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    padding: 32px 96px 16px 6px;
    background: rgba(255, 255, 255, 0);
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon {
    max-width: 100%;
    min-width: 10px;
   }

   .screen {
    padding: 6px;
    border-radius: 40px;
  }

  .project-bar {
    flex: 1;
  }
}