@import url("https://use.typekit.net/hur0tub.css");

* {
  box-sizing: border-box;
}

html {
  font-family: archivo-variable, helvetica, sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background .5s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

/*------------------------------------------ Animation Keyframes ------------------------------------------*/

@keyframes moveIn {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0);    }
}

@keyframes moveInRight {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0);}
}

@keyframes moveOutRight {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}


@keyframes moveOut {
  0%   { transform: translateX(0);     }
  100% { transform: translateX(-150%); }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slideIn {
  0%   { transform: translateX(300px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideDown {
  0%   { transform: translateY(-30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes rotate {
  0%   { transform: rotateX(0deg) rotateY(0deg);}
  100% { transform: rotateX(25deg) rotateY(45deg);}
}

@keyframes rotateBackFocus {
  0%   { transform: translate(-5%, 0) rotateX(25deg) rotateY(45deg); }
  100% { 
    transform: translate(-5%, 0) rotateX(0deg) rotateY(0deg) scale(1.5); 
    z-index: 100;
  }
}

@keyframes rotateBackBlur {
  0% { 
    transform: translate(-5%, 0) rotateX(0deg) rotateY(0deg) scale(1.5); 
    z-index: 0;
  }
  100% { 
    transform: translate(-5%, 0) rotateX(25deg) rotateY(45deg); 
  }
}

@keyframes floatRotate {
  0%   { transform: translate(-5%, 0) rotateX(25deg) rotateY(45deg);}
  50%  { transform: translate(-5%, 3%) rotateX(25deg) rotateY(45deg);}
  100% { transform: translate(-5%, 0) rotateX(25deg) rotateY(45deg);}
}

@keyframes reverseFloatRotate {
  0%   { transform: translate(-5%, 0) rotateX(25deg) rotateY(45deg);}
  50%  { transform: translate(-5%, -3%) rotateX(25deg) rotateY(45deg);}
  100% { transform: translate(-5%, 0) rotateX(25deg) rotateY(45deg);}
}

.gradient-anim {
  background: radial-gradient(circle at center,  #ddd376, #cb9bce, #7b9cc1);
  background-size: 160% 160%;
  background-position: center;
  background-blend-mode: hard-light;
  -webkit-animation: hue-rotate 10s linear infinite;
          animation: hue-rotate 10s linear infinite;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/*------------------------------------------ Animation Classes ------------------------------------------*/

.fade-in  { animation: fadeIn 0.3s ease forwards; }
.fade-out  { animation: fadeOut 0.3s ease forwards; }
.move-in  { animation: moveIn 0.4s ease-out forwards; }
.move-in-right { animation: moveInRight 0.4s ease-out forwards;}
.move-out-right { animation: moveOutRight 0.4s ease-out forwards;}
.move-out { animation: moveOut 0.4s ease-out forwards; }
.slide-in { animation: slideIn 0.5s ease forwards; }
.slide-down { animation: slideDown 0.5s ease forwards; }
.floating { animation: float 2s ease-in-out infinite; }
.floating.reverse { animation: floatReverse 2s ease-in-out infinite; }
.reverse { animation-direction: reverse; }

/*------------------------------------------ Theme/Color Variables ------------------------------------------*/

.dark {
  --bg-color: rgb(25, 24, 24);
}
.clear {
  --bg-color: #ffffff00;
}
.light {
  --bg-color: rgb(25, 24, 24);
  --bg-color: #e0e0e0;
  --head-color: #c10016;
}
.wnrs.red {
  --text-color: #E7E7E7;
  --bg-color: #c10016;
  --head-color: #E7E7E7;
}
.wnrs.light {
  --text-color: rgb(25, 24, 24);
  --bg-color: #E7E7E7;
  --head-color: #c10016;
}
.wnrs.pink {
  --bg-color: #FFBDD1;
  --text-color: #c10016;
  --head-color: #c10016;
}

.wnrs.dark {
  --bg-color: rgb(25, 24, 24);
  --text-color: #E7E7E7;
  --head-color: #E7E7E7;
}

.m6.blue {
  --bg-color: #0a2155;
}
.m6.orange {
  --bg-color: #e33614;
}
.m6.purple{
  --bg-color: #7DA1FD;
}
.m6.light {
  --bg-color: #f5f7fa;
}
.m6.dark {
  --bg-color: #191919;
}

.piggy.sage {
  --bg-color: #D2E7E3;
  --text-color: #63AC88;
  --head-color: #63AC88;
}

.piggy.matcha {
  --bg-color: #32855C;
  --text-color: #D2E7E3;
  --head-color: #D2E7E3; 
}

.m6,
.wnrs, .piggy {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.gradient {
  position: fixed;
  width: 100%;
  height: calc(var(--gap) );
  background: radial-gradient(
    ellipse at center top,
    rgba(241, 247, 61, 0.5) 10%,
    rgba(255, 0, 204, 0.6) 30%,
    rgba(0, 119, 255, 0.5) 60%,
    transparent 80%
  );
}


/*------------------------------------------ Blur Effects ------------------------------------------*/

.blur-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.blur-fade {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  z-index: 0;
}

/*------------------------------------------Default (Mobile) ------------------------------------------*/

@media (min-width: 320px) {
  :root {
    --border: 0px;
    --radius: 6px;
    --pad: 24px;
    --small-pad: 8px;
    --fit: cover;
    --gap: 28px;
    --small-gap: 16px;
    --text-color: #dad9d9;
    --bg-color: rgb(10, 10, 10);
    --head-color: #dad9d9;
    --button-color: #dad9d921;
  }

  
  main {
    width: 100vw;
  }
    

    .section-a {
      display: none;
    }
    .section-b {
      flex: 1; 
    }

  bodycopy {
    font-weight: 400;
    line-height: 1.4em;
    font-size: 18px;
    display: block;
  }

  span.small, span.label {
    font-weight: 300;
    margin: 0;
  }

  h1 {
    font-size: 38px;
    font-weight: 550;
    line-height: 1.2em;
    margin-bottom: var(--gap);
    margin-top: 0;
    color: var(--head-color);
  }

  h2 {
    font-weight: 200;
    line-height: 1.4em;
    font-size: 22px;
  }

  h3 {
    font-size: 22px;
    font-weight: 550;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 20px;
    font-weight: 550;
    line-height: 1.4em;
    margin-bottom: 8px;
  }

  span.small {
    font-size: 16px;
    line-height: 1.4em;
    display: inline-block;
  }

  span.very.small {
    font-size: 16px;
  }

  span.label {
    font-family: "ibm-plex-mono", sans-serif;
    font-size: 14px;
  }

  img {
    object-fit: var(--fit);
    width: 100%;
    max-width: 150%;
  }

  #nav {
    position: fixed;
    display: flex;
    z-index: 1000;
    width: 100vw;
    padding-bottom: calc(var(--gap) * 3);
    height: max-content;
  }

  .icon {
    height: var(--gap);
    display: block;
    margin: 0;
  }

  .icon.stroke {
    stroke: var(--text-color);
  }

  .icon.fill {
    fill: var(--text-color);
  }
  
  .menu {
    width: 100%;
    display: flex;
    gap: var(--gap);
    height: calc(var(--gap) * 2);
    padding: var(--small-gap);
    justify-content: space-around;
    z-index: 9;
  }

  .menu .icon {
    flex-shrink: 1;
    object-fit: contain;
  }

  .heading {
    display: none;
  }

  .overlay {
    position: fixed;
    z-index: 20;
    top: calc(var(--gap) * 3);
    left: var(--small-gap);
  }

  #footer {
    padding: 34px var(--small-gap);
  }

  #sidebar {
    display: none;
  }

  #app {
    margin: 0 var(--small-gap);
    padding-top: calc(var(--gap) * 5);
  }

  #display {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    /*margin: var(--gap) 0px;*/
  }

  #display .project {
    position: relative;
    transition: filter 0.3s ease;
    border-radius: var(--radius);
    margin-bottom: var(--gap);
  }

  #display .project .thumbnail {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
    margin-bottom: var(--small-gap);
    box-shadow: 2px 2px 12px black;
  }

  .two-columns .thumbnail {
    height: 100%;
  }

  .two-columns .project-description {
    display: none;
  }

  .one-column .project-description {
    position: relative;
  }

  .container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 40vh;
    margin: 0px 0px var(--gap) 0px;
    border-radius: var(--radius);
    background-color: var(--bg-color);
    overflow: hidden;
    box-shadow: 2px 2px 12px black;

  }

  .no-pad {
    --pad: 0;
  }

  .pad {
    padding: var(--pad);
  }

  .small-pad {
    padding: var(--small-pad)
  }
  
  iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--text-color);
    opacity: .5;
    margin: var(--gap) 0;
  }

  .hero {
    width: 100%;
    height: 40vh;
  }

  .appended-page {
    height: 100%;
    width: 100%;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }
  
  .centered img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
  }

  .menu-button {
    display: none;
  }

  .layout {
    display: grid;
    height: 100%;
    width: 100%;
  }

  .layout.a, .layout.b, .layout.c, .layout.e {
    grid-template-areas: 
      "a"
      "b"
      "c";
      grid-template-rows: auto auto auto; 
      grid-template-columns: 1fr;
  }

  .layout.d, .layout.d.alt {
    grid-template-areas: 
    "a"
    "b";
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;
  }

  .layout.d.reverse {
    grid-template-areas: 
    "b"
    "a";
  }

  .sec-a {
    grid-area: a;
    max-height: 70vh;
  }
  .sec-b {
    grid-area: b;
    max-height: 70vh;
  }

  .sec-c {
    grid-area: c;
    max-height: 70vh;
  }

  .container .text, .container.text {
    height: auto; 
    max-height: none;
  }

  .phone-wrapper {
    display: grid;
    place-items: center;
    height: auto;
    padding: 8px;
    position: relative;
    max-width: 280px;
  }

  .phone-wrapper img {
    grid-area: 1 / 1;
    max-width: 100%;
    height: auto;
  }

  .screen {
    z-index: 1;
    border-radius: 19%;
  }

  .frame {
    z-index: 2;
    pointer-events: none;
  }

  .scroll-wrapper {
    overflow: hidden;
    max-width: 93vw;
    border-radius: var(--radius);
    min-height: 50vh;
    margin: 0px 0px var(--gap) 0px;
    background-color: var(--bg-color);
  }
  
  .scroll-horizontal {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: var(--small-gap);
    padding-right: var(--pad);
    scrollbar-width: none;  
    text-align: center;
 
  }

  .scroll-horizontal::-webkit-scrollbar {
    display: none;                   
  }
  
  .scroll-horizontal .image {
    width: clamp(180px, 230px, 250px);
  }

  .labels {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .label.button {
    background: var(--button-color);
    height: var(--gap);
    border-radius: 50px;
    padding: 10px;
    opacity: .75;
    margin: 0px;
    width: max-content;
    transition: background-color 300ms ease-in-out 0s;
  }
 
  ul {
    list-style-type: disc;
    
    margin: 0;
  }

  li {
    padding: 8px 0;
  }

  .rotateContainer {
    position: relative;
    width: clamp(20%, 25%, 30%);
    height: 100%;
  }

  .rotated {
    animation: none;
  }
  
  .floating.rotated {
    animation: none; 
  }
  
  .reverse.floating.rotated {
    animation: none; 
  }

  .beveled {
    box-shadow: none;
  }

  .desktop {
    position: relative;
    background: url("/portfolio/images/x-edition/desktop.jpg") top center / cover no-repeat;
    height: 50vh;
    width: 100%;
  }

  .pop-up {
    position: absolute;
    width: 54%;
    left: 12%;
    top: 40%;
  }

  .spacer {
    height: var(--gap);
  }
  #brand-grid {
    height: 50vh;
  }

}

/*------------------------------------------ Tablet and up (min-width: 768px) ------------------------------------------*/
@media (min-width: 768px) {
  :root {
    --border: 0px;
    --radius: 6px;
    --pad: 32px;
    --small-pad: 16px;
    --fit: cover;
    --gap: 32px;
    --small-gap: 16px;
  }

/*
  main {
    height: 100vh;
    grid-template-areas:
      "a b";
    grid-template-columns: 9fr 16fr;
    grid-template-rows:  1fr;
    margin: 0;
    column-gap: var(--gap);
    overflow: hidden;
    padding: 0 var(--gap) var(--gap) var(--gap);
  }
*/

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  gap: var(--gap);
  padding: 0 var(--gap) var(--gap) var(--gap);
}

  .section-a {
    flex: 2;
    transition: flex-grow 0.7s ease;
    grid-area: a;
    
  }
  .section-b {
    flex: 1;
    transition: flex-grow 0.7s ease;

    grid-area: b;
    position: relative;
    overflow: scroll;
  }

  h1 { font-size: 28px; }
  h2 { font-size: 26px; }
  h3 { font-size: 24px; }
  h4 { font-size: 22px; }
  bodycopy { font-size: 20px; }
  span.small { font-size: 16px; }
  span.very.small {
    font-size: 14px;
  }
  span.label { font-size: 12px; }

  #nav {
    position: fixed;
    flex-direction: row;
    width: 100%;
    z-index: 7;
    display: flex;
    justify-content: flex-start;
    padding: calc(var(--gap) / 2) var(--small-gap) var(--small-gap) var(--small-gap);
    gap: var(--gap);
  }

  .nav-1 {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: var(--gap);
    border-radius: 50px;
    transition: "flex-grow 0.5s ease";
  }

  .nav-2 {
    flex: 1;
    transition: "flex-grow 0.5s ease";
  }

  .menu-button {
    display: flex;
    height: var(--gap);
    width: var(--gap);
    background: var(--button-color);
    z-index: 10;
    opacity: .7;
    border-radius: 50px;
    position: absolute;
    right: 0;
  }

  .menu-button > svg {
    pointer-events: none;
  }
  
  .menu {
    position: absolute;
    width: max-content;
    height: var(--gap);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    right: var(--gap);
    transform: translateX(100%);
    z-index: 9;
    border-radius: 50px 0 0 50px;
    background: var(--button-color);
    gap: 0;
  }

  .icon {
    height: 18px;
  }

  .menu .icon {
    opacity: 0;
  }

  .heading {
    display: block;
    position: absolute;
    top: var(--small-gap);
    z-index: 12;
    opacity: 1;
  }

  .overlay {    
    position: relative;
    display: block;
    padding: 0;
    top: 0;
    left: 0;
    max-width: max-content;
  }

  #footer {
    padding: var(--small-gap) 0;
  }

  #sidebar {
    display: block;
    right: 0;
    top: 0;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;  
    padding-top: calc(var(--gap) * 2.3);
  }

  #display .project {
    margin-bottom: 0;
  }

  #display .project .thumbnail {
    margin-bottom: 0px;
  }

  #app {
    padding-top: calc(var(--gap) * 2.3);
    margin: 0;
    overflow-y: scroll;
  }

  #app::-webkit-scrollbar {
    display: none;                   
  }

  .container {
    margin: 0px 0px var(--gap) 0px;
    min-height: 50vh;
  }

  .hero {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 100;
    opacity: .4;
    padding: 0;
   
    border-radius: var(--radius);
    box-shadow: 2px 2px 12px black;
  }

  .info {
   height: 100%;
  }

  .main-info {
    border-radius: var(--radius);
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .scroll-wrapper {
    height: 75vh;
  }

  .scroll-horizontal .image {
    width: clamp(150px, 200px, 250px);
  }

  main .section-b #project-display {
    display: none;
  }

  .section-a#sidebar #display {
    display: grid;
  }

  .two-columns {
    grid-template-columns: 1fr 1fr;
  }
  
  .one-column {
    grid-template-columns: 1fr;
  }

  .one-column .project {
    filter: brightness(.4);
  }

  .two-columns .project:hover {
    .project-description {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: opacity .3s ease;
      backdrop-filter: blur(8px);
      background: rgba(29, 29, 29, 0.469);
      border-radius: var(--radius);
      padding: var(--small-pad) var(--pad);
      height: 100%;
      top: 0;
      animation: fadeIn .3s ease;
    }
  }


  #display .project:hover {
    filter: brightness(0.9);
  }

}

/*------------------------------------------ Desktop and up (min-width: 1024px) ------------------------------------------*/
@media (min-width: 1024px) {
  :root {
    --radius: 8px;
    --pad: 48px;
    --small-pad: 16px;
    --fit: cover;
    --gap: 48px;
    --small-gap: 32px;
  }

  main {
    grid-template-columns: 1fr 3fr;
  }

  h1 {
    font-size: 44px;
  }

  span.small {
    font-size: 16px;
  }

  span.very.small {
    font-size: 14px;
  }

  span.label {
    font-size: 12px;
    line-height: .6em;
    text-transform: uppercase;    
  }

  #nav {
    padding: calc(var(--gap) / 2) var(--gap)  var(--gap) var(--gap);
    gap: var(--gap);
  }

  .nav-1 {
    flex: 2;
  }

  .nav-2 {
    flex: 1;
  }
  
  .container {
    height: 80vh;
    max-height: 1000px;
    overflow-y: hidden;
  }

  .text {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .container.text {
    height: 80vh;
  }

  .phone-wrapper {
    width: 100%;
    max-width: 250px;
    padding: 0px;
    max-height: 100%;
  }

  .layout.a {
    grid-template-areas: 
      "a b"
      "c c";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto; 
  }

  .layout.b {
    grid-template-areas: 
      "a"
      "b"
      "c";
    grid-template-rows: auto auto auto; 
  }

  .layout.c {
    grid-template-areas: 
    "a a"
    "b c";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .layout.c.alt {
    grid-template-areas: 
    "a a"
    "b c";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
  }

  .layout.d, 
  .layout.d.reverse, .layout.d.alt {
    grid-template-areas: 
    "a b";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .layout.d.alt {
    grid-template-columns: 2fr 3fr;
  }

  .layout.d.alt.a {
    grid-template-columns: 3fr 2fr;
  }

  .layout.e {
    grid-template-areas: 
      "a b c";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .sec-a {
    height: 100%;
    max-height: none;
  }
  .sec-b {
    height: 100%;
    max-height: none;
  }

  .sec-c {
    height: 100%;
    max-height: none;
  }

  table {
    text-align: left;
    vertical-align: top;
  }

  .rotated {
    width: 100%;
    position: absolute;
    top: 20%;
    animation: rotate 300ms ease-in-out forwards;
  }
  
  .floating.rotated {
    animation: floatRotate 2s ease-in-out infinite; 
  }
  
  .reverse.floating.rotated {
    animation: reverseFloatRotate 2s ease-in-out infinite; 
  }

  .beveled {
    box-shadow:
    .5px -.5px 0.0 0.0px  #949494,
    .75px -.75px 0.0 0.0px #949494,
    1px -1px 0.0 0.0px #929292,
    1.25px -1.25px 0.0 0.0px #8c8c8c,
    1.5px -1.5px 0.0 0.0px #8c8c8c,
    1.75px -1.75px 0.0 0.0px #6b6b6b,
    2px -2px 0.0 0.0px #6b6b6b,
    2.25px -2.25px 0.0 0.0px #6b6b6b,
    2.5px -2.5px 0.0 0.0px #6b6b6b,
    2.75px -2.75px 0.0 0.0px #585858,
    3px -3px 0.0 0.0px #585858,
    3.25px -3.25px 0.0 0.0px #4a4a4a,
    3.5px -3.5px 0.0 0.0px #3e3e3e,
      10.5px -7.5px 25.0px 0.0px rgba(96,96,96,0.3); 
  }

  .pop-up {
    width: 44%;
  }

  .desktop {
    height: 100%;
  }

  #brand-grid {
    height: 100%;
  }

  .icon {
    height: 22px;
  }
}
