@import url("https://use.typekit.net/hur0tub.css");



* {
  box-sizing: border-box;
}

html {
  background-color: #1F1313;
  color: #dad9d9;
}



body::before {
  content: "";
  position: absolute;
  inset: 0;
  /*background-image: url('/images/main/Rectangle\ 45.jpg');*/
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}

body  {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
  background: url() center 
 
}


@keyframes moveIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-150%);
  }
}


.move-in {
  animation: moveIn 0.4s ease-out forwards;
}

.move-out {
  animation: moveOut 0.4s ease-out forwards;

}

.red {
  --text-color: #dad9d9;
  --bg-color: #c10016;

}

.light {
  --text-color: #1F1313; 
  --bg-color: #dad9d9;
}

.dark {
  --text-color: #dad9d9; 
  --bg-color: #150e0e;
  --label-color: rgba(217, 217, 217, 0);
  --border: 1px solid var(--text-color);
}

.transparent {
  --bg-color: #fefefe00; 
  --label-color: #fefefe00;
}



a {
  text-decoration: none;
  color: inherit;
}

/*------------------------------------------Default (Mobile) ------------------------------------------*/
@media (min-width: 320px)  {

:root {
  --border: 0px;
  --label-color: #d9d9d9;
  --radius: 6px;
  --pad: 8px;
  --fit: cover;
}

img {
  object-fit: var(--fit);
  max-width: 100%;
}


.contain {
  --fit: contain;
}

bodycopy {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  display: block;
}

h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 48px;
  line-height: 1.2em;
  letter-spacing: 0;
}

h2 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  line-height: 1.1em;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2em;
  margin: 12px 0;
}

span.small {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
  display: inline-block;
}

span.label { 
  font-family: space-mono, mono;
  font-size: 14px;
}

body  {
  display: grid;
  grid-template-columns: 1fr;
 
}
main {
  width: 100vw;
  position: relative;
}


#nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px 20px  20px 16px;
  z-index: 1000;
  width: 100%;
  height: auto;
  max-height: max-content;
}

#footer {
  padding: 60px 16px  20px 16px;
}

#nav img {
  height: 18px;
  width: auto;
  object-fit: cover;
  margin-left: 20px;
}

#app {
  margin: 0 16px;
  padding-top: 60px;
  height: 100vh;
  overflow: hidden;

}

.description {
  width: 100%;
  padding: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);

}

.container {
  margin: 32px 0px;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 32vh;
  overflow: hidden;
  border-radius: var(--radius);
  background-color: var(--bg-color);

}

.section {
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
}


#pottery {
  display: none;
}

.labels, .main-labels {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0px;
}

.label-button {
  color: var(--text-color);
  border: var(--border);
  border-radius: 50px;
  width: auto;
  max-width: max-content;
  padding: 12px;
  margin: -2px;
}


.label-button h2 {
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.job-info {
  margin-top: 28px;
}

#project-display {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#project-display .project {
  margin: 28px 0px;
}

#project-display .project .thumbnail {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5/4;
  border-radius: var(--radius);
}  

.blur-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.blur-fade {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  z-index: 0;
}





.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.slide {
  width:  100%;
  height: auto;
}

#couples {
  position: absolute;
  bottom: 16%;
  right: 5%;
  width: 35%;
}

.split {
  display: grid;
  gap: 0px;
  overflow: hidden;
}

.split.columns {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(150px, 32vh));

}

.split.rows {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.phone-wrapper {
  display: grid;
  place-items: center;
  width: 300px;
 
  height: auto;
  position: relative;
}

.phone-wrapper img {
grid-area: 1 / 1;
max-width: 100%;
height: auto;
}

.screen {
z-index: 1;
border-radius: 19%;
}

.frame {
z-index: 2;
pointer-events: none; 
}

#sidebar {
  display: none;
}


.hero {
  height: 40vh;
  width: 100%;
}

 iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

}

/*------------------------------------------ Tablet and up (min-width: 600px) ------------------------------------------*/
@media (min-width: 768px)  {

  h1 {
    font-size: 52px;
  }
  h2 {
   
    font-size: 22px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  span.small {
    font-size: 14px;
  }
  span.label {
    font-size: 11px;
  }

.description {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 18px;
  margin-bottom: 56px;
}

.labels {
  flex-direction: column;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: -5px;
}

.label-button {
  padding: 16px;
}

#pottery {
  display: block;
  position: absolute;
  max-height: 90%;
  right: 5%;
  bottom: 5%;
  z-index: 0;
}

.section bodycopy {
  position: relative;
  z-index: 1;
}

#project-display {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 44px;
}

#project-display .project {
  margin:  0px;
}



#pottery {
  max-height: 60%;
}


}


/*------------------------------------------ Desktop and up (min-width: 1280px) ------------------------------------------*/
@media (min-width: 1280px) {

:root {
  --radius: 8px;
  --pad: 16px;
  --fit:
}


#sidebar {
  display: block;
  padding: 60px 38px;
  right: 0;
  top: 0;
  margin: 0;
  max-height: 100vh;
  overflow: scroll;
}
.padded {
  padding: var(--pad);
}

html {

}

body  {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 32px;
  gap: 0;
}
main {
  width: 70vw;
  position: relative;
}





h1 {
  font-weight: 100;
  font-size: 34px;
}
h2 {
 
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

bodycopy  {
  font-size: 18px;
}
span.small {
  font-size: 14px;
}

span.label {
  font-size: 14px;
}

#nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 34px 50px 34px;
  z-index: 1000;
  height: auto;
  max-height: max-content;
}

#footer {
  padding: 0px 16px  20px 16px;
}

#nav img {
  height: 18px;
  width: auto;
  object-fit: cover;
  margin-left: 20px;
}

#app {
  padding-top: 60px;
  overflow: scroll;
}


.label-button bodycopy {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#project-display .project .thumbnail {
  aspect-ratio: 1/1;
}  

.container {
  height: 85vh;  
}

.slide {
  width:  90%;
}







.split.columns {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
}
.split.rows {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}





#couples {
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 35%;
}

 .body {
    margin: 0;
    padding: 0;
  }
 

  .hero {
    height: 100vh;
    width: 100%;
  }
  
 iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }

  .hydrated-page {
    width: 100%;
    height: 100%;
  }

  img.full-bleed {
    object-position: center center;
    object-fit:contain;
    border-radius: var(--radius);
    max-height: 100%;
    display: block;
  }

  #project-display-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  #project-display-2 .project {
    margin: 28px 0px;
  }
  
  #project-display-2 .project .thumbnail {
    filter: brightness(.9) grayscale(0%);
    transition: filter 0.3s ease;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: var(--radius);
  }  

  #project-display-2 .project .thumbnail:hover {
    filter: brightness(.9) grayscale(0%);
  
  }  
  
  
}
